{:paths   ["src"]

 :deps    {com.fulcrologic/fulcro     {:mvn/version "3.6.10"}
           com.taoensso/timbre        {:mvn/version "6.3.1"}
           com.fzakaria/slf4j-timbre {:mvn/version "0.4.0"} ; -> no undertow debug logs
           
           com.taoensso/sente         {:mvn/version "1.19.2"}

           com.cognitect/transit-clj  {:mvn/version "1.0.333"}
           com.cognitect/transit-cljs {:mvn/version "0.8.280"}
           com.fulcrologic/guardrails {:mvn/version "1.1.13"}

           org.clojure/clojure        {:mvn/version "1.11.1" :scope "provided"}
           org.clojure/clojurescript  {:mvn/version "1.11.121" :scope "provided"}
           org.clojure/core.async     {:mvn/version "1.6.681"}}

 :aliases {:dev        {:extra-paths ["resources"]
                        :extra-deps  {thheller/shadow-cljs              {:mvn/version "2.25.7"}
                                      com.wsscode/pathom                {:mvn/version "2.4.0"}
                                      com.fulcrologic/fulcro-websockets {:mvn/version "3.3.0"
                                                                         :exclusions [com.fulcrologic/fulcro]}
                                      binaryage/devtools                {:mvn/version "1.0.7"}
                                      ring/ring-core                    {:mvn/version "1.10.0"}
                                      com.fzakaria/slf4j-timbre         {:mvn/version "0.4.0"} ; for immutant / undertow
                                      org.immutant/web                  {:mvn/version "2.1.10"
                                                                         :exclusions [ch.qos.logback/logback-classic]}
                                      org.clojure/tools.namespace       {:mvn/version "1.4.4"}}}}}
