{:deps     {:aliases [:dev :test :workspaces]}
 :nrepl    {:port 9000}
 :dev-http {9001 "resources/public"}
 :jvm-opts ["-Xmx1G"]
 :builds   {:todomvc    {:target     :browser
                         :output-dir "resources/public/js"
                         :asset-path "/js"
                         :dev        {:compiler-options {:external-config {:guardrails {}}}}
                         :modules    {:main {:entries [fulcro-todomvc.main]}}
                         :devtools   {;GITPOD_REPLACE
                                      :preloads [com.fulcrologic.fulcro.inspect.preload
                                                 com.fulcrologic.fulcro.inspect.dom-picker-preload]}}
            :coding     {:target     :browser
                         :output-dir "resources/public/js"
                         :asset-path "/js"
                         :dev        {:compiler-options {:external-config {:guardrails {}}}}
                         :modules    {:main {:init-fn holyjak.fulcro-exercises/init}}
                         :devtools   {:preloads [com.fulcrologic.fulcro.inspect.preload
                                                 com.fulcrologic.fulcro.inspect.dom-picker-preload]
                                      :after-load holyjak.fulcro-exercises.impl/refresh}}}}

